dist/
dist-*/
.HTF/
log/
.cabal-sandbox/
.stack-work/
cabal-dev
*#
*.aux
*.chi
*.chs.h
*.dSYM
*.dylib
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hp
*.o
*.a
*.prof
*.so
*~
.*.swo
.*.swp
.DS_Store
.hpc
.hsenv
TAGS
cabal.project.local
cabal.sandbox.config
codex.tags
docs
stack.yaml
tags
wiki
wip
.ghc.environment.*
