language: c
osx_image: xcode6.4
sudo: false
os:
 - osx

cache:
  directories:
    - $HOME/.cabal/packages
    - $HOME/.cabal/store

before_cache:
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/build-reports.log
  - rm -fv $HOME/.cabal/packages/hackage.haskell.org/00-index.tar

before_install:
 - brew update
 - brew install ghc cabal-install
 - brew outdated openssl || brew upgrade openssl

install:
 - cabal --version
 - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
 - travis_retry cabal update -v

# Here starts the actual work to be performed for the package under test;
# any command which exits with a non-zero exit code causes the build to fail.
script:
  - cabal install alex happy
  - PATH=$HOME/.cabal/bin:$PATH cabal new-build -j1 --extra-lib-dirs=/usr/local/opt/openssl/lib --extra-include-dirs=/usr/local/opt/openssl/include
